#canvas {
  z-index: -1;
  background-color: rgb(238, 238, 238);
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
}

.tools-controller {
  position: fixed;
  bottom: 1.5rem;
  left: 1.5rem;
}

#tool-color-input {
  display: none;
}

#username {
  display: none;
}

// Chat
.chat {
  position: fixed;
  width: 30%;
  height: 75vh;
  right: 10px;
  background-color: rgb(95, 95, 97);
  z-index: -1;
  border-radius: 2%;
  padding: 0.7rem;

  display: grid;
  grid-template-rows: 90% 10%;
}

.chat div {
  opacity: 0.85;
  border-radius: 2%;
}

.chat-input {
  display: grid;
  grid-template-columns: 85% 15%;
  place-items: center;
}
