body {
  background-color: aliceblue;
}

.btn {
  background-color: rgb(221, 209, 209);
  outline: none;
  border-radius: 5%;
}

.header {
  position: fixed;
  height: 50px;
  border-bottom: 2px solid rgb(70, 69, 69);
  top: 0;
  left: 0;
  right: 0;
  display: flex;
}

.toolbar {
  display: grid;
  place-items: center;
  width: 50%;
  background-color: red;
}

.setting-bar {
  width: 50%;
  background-color: blue;
}

canvas {
  background-color: white;
}
